.alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    border: 2px solid #970097;
    border-radius: 8px;
    background-color: #ff99ff;
    font-family: sans-serif;
}
.alerts-container {
    width: 29%;
}