/* Main task-card style */

.task_card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    width: 350px;
    font-family: sans-serif;
    padding: 14px;
}

.task_card_title {
    font-weight: bolder;
    font-size: 1.3em;
}

/* Main tags style settings */

.task_tags {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}
.task_tag {
    font-size: 0.9em;
    padding: 4px 8px;
    border-radius: 4px;
}

/* Colours */

.purple_tag {
    background-color: #e0d8ff;
    color: #4e1f9c;
}
.yellow_tag {
    background-color: #fffcad;
    color: #6D434A;
}