/* base of task cards */
.task-card {
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    border-radius: 16px;
    border: 1px solid;
    font-family: sans-serif;
}

/* content of task cards */
.task-card-content {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 1em;
    padding-left: 1em;
}

/* title of task cards */
.task-card-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
    font-weight: bolder;
}

/* border for title container of task cards */
.task-card-title-container {
    border-bottom: 1px solid;
}

/* special title of task cards */
.task-card-spectitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bolder;
}
