/* colors schemes of task cards */

/* sorting by colors */

/* purple */
.purple-solid {
    background-color: #7749F8;
    border-color: #5227CC;
    color: #ffffff;
}
.purple-solid > .task-card-title-container {
    border-color: #5227CC;  
}

/* gray */
.gray-solid {
    background-color: #6C757D;
    border-color: #484848;
    color: #ffffff;
}
.gray-solid > .task-card-title-container {
    border-color: #484848;  
}

/* green */
.green-solid {
    background-color: #28A745;
    border-color: #136941;
    color: #ffffff;
}
.green-solid > .task-card-title-container {
    border-color: #136941;  
}

/* yellow */
.yellow-solid {
    background-color: #FFC107;
    border-color: #CC9A06;
    color: #343A40;
}
.yellow-solid > .task-card-title-container {
    border-color:#CC9A06;  
}

/* red */
.red-solid {
    background-color: #DC3545;
    border-color: #B02A37;
    color: #ffffff;
}
.red-solid > .task-card-title-container {
    border-color: #B02A37;  
}

/* cyan */
.cyan-solid {
    background-color: #17A2B8;
    border-color: #117A8B;
    color: #ffffff;
}
.cyan-solid > .task-card-title-container {
    border-color: #117A8B;  
}

/* sorting by type of cards */

/* base of special cards */
.special-card {
    background-color: #ffffff;
    color: #000;
}
.special-card > div.task-card-title-container {
    border-bottom: 1px solid #aaa;
    color: #000;
}
/* primary purple card */
.primary-card {
    border-color: #5227CC;
}
.primary-card > div {
    color: #5227CC;
}

/* secondary gray card */
.secondary-card {
    border-color: #484848;
}
.secondary-card > div {
    color: #484848;
}

/* success green card */
.success-card {
    border-color: #28A745;
}
.success-card > div { 
    color: #28A745;
}

/* warning yellow card */
.warning-card {
    border-color: #FFC107;
}
.warning-card > div {
    color: #FFC107;
}

/* danger red card */
.danger-card {
    border-color: #DC3545;
}
.danger-card > div {
    color: #DC3545;
}

/* info cyan card */
.info-card {
    border-color: #17A2B8;
}
.info-card > div {
    color: #17A2B8;
}

/* light card */
.light-card {
    border-color: #aaa;
}
.light-card > div {
    color: #aaa;
}

/* dark card */
.dark-card {
    border-color: #000;
}
.dark-card > div {
    color: #000;
}