/* General */

#food {
    width: 100%;
    gap: 3em;
    font-family: sans-serif;
}

/* Food container */

.food__container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 3em;
}

/* Food item */

.food__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 400px;
    border: 1px solid #d6d6d6;
}

/* Food image */

.food__image {
    width: 400px;
    height: 300px;
}

/* Food title container */

.food__title__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1em;
    text-align: center;
}

/* Food title */

.food__title {
    font-size: 1.3em;
    font-weight: bold;
}

/* Food cost and button */

/* Food buy container */

.food__buy__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1.5em;
}

/* Food cost */

.food__cost {
    font-size: 2em;
    font-weight: bold;
}

/* Food buy button */

.food__buy__button {
    padding: 1em 1.3em;
    background-color: #b59571;
    color: #fff;
    font-weight: bold;
}

